
::selection {
    background: #44ffb18c;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262626;
    text-align: center;
    font-family: "Roboto";
    text-decoration: none;
    overflow-x: hidden;
    overflow: hidden;
}

#toast {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #f42069;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 20px;
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#titlebar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    /* background: -webkit-linear-gradient(230deg, #f42069 20%, rgba(0,241,255,1) 100%); */
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

#titlebar.shrink {
    animation-name: titlebar_shrink;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes titlebar_shrink {
    from {
        height: 100vh;
    }

    to {
        height: 120px;
    }
}

#title {
    left: calc(50% - 500px);
    text-align: right;
    position: absolute;
    font-size: 72px;
    font-family: "Open Sans";
    color: #ffffff;
    padding: 0% 0px 0% 0%;
    margin: 0% 0px 0% 0px;
    cursor: context-menu;
}

#slash {
    padding-bottom: 5px;
    margin: 0px;
    position: absolute;
    font-size: 200px;
    font-family: "Open Sans";
    color: #ffffff;
    user-select: none;
    opacity: 100%;
}

#social {
    user-select: none;
    right: calc(50% - 450px);
    display: grid;
    position: absolute;
    grid-template-columns: 70px 70px 70px 70px 70px;
    gap: 0% 6%;
    justify-content: center;
}
#latestVideoEmbed{
    border: 0;
}
#social a div {
    transition: .2s;
    height: 70px;
    mix-blend-mode: exclusion;
}

#social a div img {
    width: 45px;
    height: 45px;
    padding-top: 15px
}

#social a:hover div {
    transform: scale(1.15);
}

#social a button {
    background: transparent;
    border: none !important;
    outline: none;
    cursor: pointer;
    
}

figure video {
    filter: blur(20px);
    mix-blend-mode: exclusion;
    min-width: 100vw;
    min-height: 100vh;
}


.bgbutton:hover {
    cursor: pointer;
    color: #f42069;
}

.bgbutton {
    font-size: 15px;
    position: absolute;
    bottom: 0%;
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    mix-blend-mode: exclusion;
}

#pause {
    animation-delay: 2s;
    right:0;
}

#mute {
    animation-delay: 2s;
    left:0;
}

#morebutton {
    font-size: 30px;
    margin: auto;
    width: 100px;
    height: 60px;
}

@keyframes title_fadein {
    from {
        visibility: hidden;
        opacity: 0%;
    }

    to {
        visibility: unset;
        opacity: 100%;
    }
}

@keyframes title_fadeout {
    from {
        visibility: unset;
        opacity: 100%;
    }

    to {
        visibility: hidden;
        opacity: 0%;
    }
}

.fadein {
    animation-name: title_fadein;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-delay: 1s;
    visibility: hidden;
}

#sitegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 50px;
    align-content: center;
    padding: 10%;
    padding-top: 50px;
    overflow: hidden;
}

#sitegrid div {
    transition: transform .15s;
    border-radius: 13px;
    background: #1f1f1f;
}

#sitegrid div a:link {
    text-decoration: none !important;
}

#sitegrid div img {
    width: 100%;
    height: 100%;
    border-radius: 13px
}

#codeblock {
    font-family: "Consolas","Lucida Console",monospace;
    font-weight: 278;
    border: 1px solid rgb(0, 0, 0);
    background-color: #161616;
    text-align: left;
    color: rgb(167, 167, 167);
    padding: 20px;
    line-height: 25px;
    tab-size: 8;
    border-radius: 10px;
    height: calc(100% - 123px);
}

.red {
    background-color: #67060C;
    color: #FFDCD7;
}

.orange {
    background-color: #5a1e02;
    color: #ffdfb6;
}

.green {
    background-color: #033a16;
    color: #aff5b4;
}

.blue {
    background-color: #03163a;
    color: #b4aff5;
}

.text h1 {
    color: #ffffff;
    font-family: "Roboto";
}

.text a {
    transition: .15s;
}

.text a:hover {
    transition: .15s;
    color: #f42069;
    cursor:pointer;
}

.text h2 {
    color: #ffffff;
    font-family: "Open Sans";
}

#unicode-copy {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    align-content: center;
    padding: 0% 10% 5% 10%;
}

#unicode-copy div button {
    color: #ffffff;
    background-color: #161616;
    border-radius: 10px;
    border: 0px solid;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 22px;
    transition: .15s;
    overflow: hidden;
}

#unicode-copy div button:hover {
    background-color: #f42069;
    cursor: pointer;
}


.imggrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-content: center;
    padding: 0% 5% 5% 5%;
}

.imggrid div {
    transition: transform .15s;
    color: #ffffff;
    background-color: #161616;
}

.imggrid div:hover {
    transform: scale(1.03);
}

iframe {
    margin-bottom: 20px;
}

#crypto {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-content: center;
    padding: 0% 5% 0% 5%;
}

#crypto div {
    color: #b6b6b6;
    background-color: #161616;
    padding-left: 15px;
    text-align: left;
}

#belowCrypto button{
    border: none;
    color: #b6b6b6;
    margin: 10px 0px 10px 0px;
    background-color: #1f1f1f;
    transition: .15s;
    border-radius: 5px;
    display: inline-block;
    align-self: left;
}

#belowCrypto button:hover{
    background-color: #f42069;
    color: #ffffff;
    cursor: pointer;
}

#belowCrypto p{
    display:inline-block;
    color: #b6b6b6;
    font-size: 13px;
    text-align: left;
}

#underline{
    background-color: #f42069;
    width: auto;
    padding: 0.5px
}

#apierror h1 {
    color: #f42069;
    font-size: 2rem;
}

.text{
    overflow: hidden;
}

.text a {
    font-size: 2rem;
    color: #ffffff;
    font-family: "Roboto";
    text-decoration: none !important;
}

#serverGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-content: center;
    padding: 0% 5% 5% 5%;
}

#serverGrid div{
    background-color: #161616;
    color: #b6b6b6;
    transition: .15s;
    overflow: hidden;
}

#serverGrid div:hover{
    background-color: #f42069;
    cursor: pointer;
    color: #ffffff;
}

#serverGrid div:hover .title { display:none }        
#serverGrid div .subtitle { display:none }