@font-face {
    font-family: "Hack";
    src: url("../font/hack.woff2");
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Hack", monospace;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: underline;
    color: white;
    transition: color 0.5s;
}

img {
    object-fit: contain;
    border: 3px solid;
}

.youtube {
    border: none;
    object-fit: contain;
}

.half {
    width: 48%;
}

.fullwidth {
    width: 95%;
    margin: calc(2.5% - 2px)
}

.center {
    text-align: center;
}

#background {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#main {
    margin: auto;
    min-width: 500px;
    max-width: 1000px;
    height: fit-content;
    border: 3px solid;
}

.flex {
    display: flex;
}

.flip {
    transform: scaleX(-1);
}

.rotate_90 {
    transform: rotate(90deg);
}

.content {
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.content p {
    width: 48%;
    margin: 0;
}

#download {
    white-space: nowrap;
    margin: 25px 25px 0 auto;
}

ul {
    margin-left: 25px;
}

h1 {
    font-size: 2.6em;
}

h3 {
    text-align: center;
    margin: 25px 0 25px 0 !important;
    width: 100%;
}

h1,
p,
h2 {
    margin: 25px 25px 0 25px !important;
}

p {
    margin-top: 0px !important;
}

.codeblock {
    background-color: #262626;
    color: #CCCCCC;
    padding: 10px;
    border-radius: 5px;
}

.themeswitcher {
    display: block;
    padding: 15px;
    width: min-content;
    cursor: pointer;
}

#checkbox,
#dark,
input:checked~div #light {
    display: none;
}

input:checked~div #dark {
    display: block;
}

input:checked~div a {
    color: black;
}

input:checked~div {
    background-color: white;
    color: black;
}