@font-face {
    font-family: "Hack";
    src: url("./font/hack.woff2");
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Hack", monospace;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.indent {
    padding-left: 1ch;
}

.doubleindent {
    padding-left: 2ch;
}

.gray {
    color: gray;
}

.systemdetail {
    float: right;
    padding-right: 1ch;
}

.box {
    width: 0%;
    height: 0%;
    border: 3px solid;
}

.badge-grid {
    margin: 0 58px 4px 58px !important;
}

.pixel {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.badge-grid img {
    width: 88px;
    height: 31px;
}

.imagediv {
    display: flex;
    margin: 0 !important;
}

h1 {
    font-size: 2.6em;
}

.bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0 0 25px 0 !important;
    width: 100%;
}

h1,
h2 {
    margin-bottom: 0px !important;
}

p {
    margin: 0px !important;
}

a {
    text-decoration: underline;
    color: white;
    transition: 0.5s;
}

label {
    cursor: pointer;
}

.pagelabel {
    position: fixed;
    z-index: 100;
    right: 0;
}

.homelabel {
    font-size: 1.5em;
    text-decoration: underline;
}

#hidebadges,
.hidden,

#about,
#projects,
#socials,
#systems,
#badges,

#about-checkbox:checked~div .showabout,
#about-checkbox:checked~div #home,

#projects-checkbox:checked~div .showprojects,
#projects-checkbox:checked~div #home,

#socials-checkbox:checked~div .showsocials,
#socials-checkbox:checked~div #home,

#systems-checkbox:checked~div .showsystems,
#systems-checkbox:checked~div #home,

#badge-checkbox:checked~div .showbadges,
#badge-checkbox:checked~div #home {
    display: none;
}

#about-checkbox:checked~div .hideabout,
#about-checkbox:checked~div #about,

#projects-checkbox:checked~div .hideprojects,
#projects-checkbox:checked~div #projects,

#socials-checkbox:checked~div .hidesocials,
#socials-checkbox:checked~div #socials,

#systems-checkbox:checked~div .hidesystems,
#systems-checkbox:checked~div #systems,

#badge-checkbox:checked~div .hidebadges,
#badge-checkbox:checked~div #badges {
    display: initial;
}

.spread {
    animation-name: spread;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-timing-function: ease;
}

@keyframes spread {
    0% {
        height: 0px;
        width: 0px;
    }

    50% {
        height: 0px;
        width: 400px;
    }

    100% {
        height: 600px;
        width: 400px;
    }
}

.flicker {
    opacity: 0%;
    margin: 25px;
    animation-name: flicker;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

@keyframes flicker {
    0% {
        opacity: 0%;
    }

    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    99% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}