body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
}

.top {
    top: 50%;
}

.center {
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#main {
    width: 0%;
    height: 0%;
    border: 3px solid;
}

h1 {
    font-size: 2.6em;
}

h3 {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0 0 25px 0 !important;
    width: 100%;
}

h1,
h2 {
    margin-bottom: 0px !important;
}

p {
    margin-top: 0px !important;
}

a {
    text-decoration: underline;
    color: white;
    margin: 20px;
    transition: 0.5s;
}

label {
    cursor: pointer;
    bottom: 0;
    position: fixed;
}

#checkbox,
#dark,
input:checked~div #light {
    display: none;
}

input:checked~div #dark {
    display: initial;
}

input:checked~div a {
    color: black;
}

input:checked~div {
    background-color: white;
    color: black;
}

.spread {
    animation-name: spread;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-timing-function: ease;
}

.flicker {
    opacity: 0%;
    margin: 25px;
    animation-name: flicker;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.time_1 {
    animation-delay: 1.6s;
}

.time_2 {
    animation-delay: 1.8s;
}

.time_3 {
    animation-delay: 2.2s;
}

.time_4 {
    animation-delay: 2.4s;
}

.time_5 {
    animation-delay: 2.6s;
}

.time_6 {
    animation-delay: 2.8s;
}

@keyframes spread {
    0% {
        height: 0px;
        width: 0px;
    }

    50% {
        height: 0px;
        width: 400px;
    }

    100% {
        height: 600px;
        width: 400px;
    }
}

@keyframes flicker {
    0% {
        opacity: 0%;
    }

    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    99% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}