<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="RemoveTrailingSlashRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="redirect spam to /login" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="/admin" />
                        <add input="{URL}" pattern="/config" />
                        <add input="{URL}" pattern="/cgi-bin" />
                        <add input="{URL}" pattern="/reportserver" />
                        <add input="{URL}" pattern="/manager/html" />
                        <add input="{URL}" pattern="/console" />
                        <add input="{URL}" pattern="/setup" />
                        <add input="{URL}" pattern="apache" />
                    </conditions>
                    <action type="Redirect" url="login" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="redirect /logincheck to /rick.mp4" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/logincheck" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="rick.mp4" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Hide .html ext">
                    <match url="^(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" />
                </rule>
                <rule name="Redirecting .html ext" stopProcessing="true">
                    <match url="^(.*).html" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="(.*).html" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="redirect /counterstrike" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="https://steamcommunity.com/id/hummusbirb" appendQueryString="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" matchType="Pattern" pattern="/counterstrike" ignoreCase="true" negate="false" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="Redirect">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="404" path="/error/404.html" responseMode="ExecuteURL" />
            <error statusCode="400" path="/error/400.html" responseMode="ExecuteURL" />
            <error statusCode="401" subStatusCode="-1" prefixLanguageFilePath="" path="/error/401.html" responseMode="File" />
            <error statusCode="403" path="/error/403.html" responseMode="ExecuteURL" />
        </httpErrors>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".bz2" mimeType="application/x-bzip2" />
            <mimeMap fileExtension=".cfg" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
